section {
  text-align: center;
  /*height: 100vh;*/
}
body {
  counter-reset: header;
}
.white-text {
  color: #fff;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
}
.second-container {
  padding: 80px 0 40px;
}
.content-header {
  position: relative;
  margin: 0 0 70px;
  height: 145px;
  z-index: 10;
  text-align: left;
  padding: 20px 0 0 20px;
}
.content-header:before {
  color: rgba(244, 243, 243,1);
  counter-increment: header;
  content: '0' counter(header);
  display: block;
  font-size: 160px;
  line-height: 1;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
}
.black-grey-text.content-header:before {
  color: rgba(244, 243, 243,0.1);
}
.content-header h3 {
  font: bold 20px Arial, sans-serif;
  line-height: 40px;
}
.content-header p {
  line-height: 20px;
  font-size: 18px;
  color: #666;
}
/*================================HEADER-TOP================================*/
.header {
  width: 100%;
  height: 11.5vh;
  background: #fff;
  overflow: hidden;
  padding: 30px 0 0;
}
.logo {
  float: left;
  width: 168px;
  height: 18px;
}
.nav-top {
  float: right;
}
.nav-top li {
  float: left;
}
.nav-top li>a {
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  padding: 0 10px 10px;
  line-height: 15px;
  margin: 0 10px;
  color: #111;
  border-bottom: 5px solid transparent;
}
.nav-top li>a:hover {
  border-bottom: 5px solid #e8bf5d;
}
/*==============================WELCOME SECTION==============================*/
.welcome {
  height: 88.5vh;
  background: url(../img/welcome-bg.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 -340px 500px -200px #000;
}
.contact-person {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1170px;
  width: 100%;
  padding: 0 100px;
  overflow: hidden;
}
.contact-person>a {
  float: right;
}
.person-name {
  float: left;
  text-align: left;
  color: #fff;
}
.person-name h3 {
  font-size: 60px;
  line-height: 50px;
}
.person-name p {
  line-height: 30px;
  font-size: 30px;
}
.orange-btn {
  display: block;
  line-height: 50px;
  padding: 0 50px;
  color: #111;
  border-radius: 50px;
  background: #e8bf5d;
}
/*==============================ABOU-US SECTION==============================*/

.about-us {
  background: #fff;
}
.about-us-article {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 570px;
  margin: 0 10px 40px 0;
}
.about-us-article h5 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: normal;
}
.years {
  padding: 0 20px 0 0;
  line-height: 60px;
  font-weight: bold;
}
/*===========================PRACTIS-AREA SECTION===========================*/
.practis-area {
  background: #111;
}
.practis-area .content-header p {
  color: #b9b9b9;
}
.our-services li {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  padding: 0 30px 0 90px;
  margin: 0 0 60px;
  color: #fff;
  line-height: 25px;
  text-align: left;
}
.our-services li>h5 {
  font-size: 20px;
  margin: 0 0 20px;
}
li[name=client] {
  background: url(../img/client.png) no-repeat;
}
li[name=employ] {
  background: url(../img/employ.png) no-repeat;
}
li[name=sequre] {
  background: url(../img/sequre.png) no-repeat;
}
li[name=estate] {
  background: url(../img/estate.png) no-repeat;
}
/*===========================OUR-ATTORNEY SECTION===========================*/
.our-attorney {
  background: #fff;
}
.list-team li {
  display: inline-block;
  vertical-align: top;
  margin: 0 25px 60px 0;
  text-align: left;
}
.list-team li:last-child {
  margin-right: 0;
}
.list-team li>h3 {
  font-size: 25px;
  line-height: 35px;
}
.list-team li>img {
  margin: 0 0 30px;
}
/*============================OUR-CLIENTS SECTION============================*/
.our-clients {
  background: url(../img/our-clients-bg.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.client-say {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 100px;
  justify-content: center;
}
.client-say img {
  width: 370px;
  height: 305px;
  margin: 0 0 70px;
  box-shadow: 20px 20px 0 0 #e8bf5d;
}
.article-content {
  color: #fff;
  text-align: left;
  position: relative;
  width: 650px;
  padding: 25px 0 50px 100px;
}
.article-content:before {
  position: absolute;
  left: 60px;
  top: 20px;
  content:'\201c';
  font-size: 70px;
  color: rgba(244, 243, 243,0.2);
}
.article-content p {
  margin: 0 0 50px;
  line-height: 25px;
}
.article-content h6 {
  font-size: 25px;
}
.article-content h5 {
  font-size: 15px;
}
/*============================PUBLICATIONS SECTION============================*/
.publications {
  background: #fff;
}
.list-public li {
  display: inline-block;
  vertical-align: top;
  width: 365px;
  margin: 0 15px 40px;
  text-align: left;
  padding: 0 0 30px;
  border-bottom: 3px solid #e8bf5d;
}
.list-public li:first-child {
  margin-left: 0;
}
.list-public li:last-child {
  margin-right: 0;
}
.list-public img {
  margin: 0 0 30px;
}
.list-public li h5 {
  font-size: 22px;
}
.list-public li .author {
  line-height: 30px;
  margin: 0 0 25px;
}
.list-public li .date {
  color: #666;
  float: right;
}
.list-public li .public-content {
  margin: 0 0 30px;
  line-height: 25px;
}
.list-public li .coments {
  float: left;
  background: url(../img/coment-icon.png.png) no-repeat;
  padding: 0 0 0 25px;
}
.list-public li .share {
  float: right;
  background: url(../img/share-icon.png) no-repeat;
  padding: 0 0 0 25px;
}
/*===============================QUESTION SECTION============================*/
.question {
  background: #111;
}
.orange-box {
  width: 500px;
  height: 280px;
  background: #e8bf5d;
  padding: 40px 40px 60px;
  margin: 0 0 120px;
  box-shadow: 0 5px 30px 0 #e8bf5d;
}
.orange-box p {
  line-height: 30px;
  text-align: left;
  color: #111;
}
/*==============================CONTACT SECTION==============================*/
